%h2.h グラフ

.search_form
  = form_tag({controller: :data_view, action: :month, format: :json}, method: :get, remote: true) do |f|
    .field
      カテゴリー|
      - @categories.each do |category|
        = check_box_tag "zaim_category_ids[#{category.zaim_id}]", category.name, checked = false, :id => category.zaim_id
        = label "zaim_category_ids[#{category.zaim_id}]", category.name
        |
    .field
      = label :date, "日付"
      = date_select :from_date, :date, include_blank: true
      〜
      = date_select :to_date, :date
    .submit
      = submit_tag "表示"

.graph
  %p 月の支出(カテゴリー別)
  #chart

%p= link_to 'Back', :back
= javascript_include_tag "flotr2.min.js"
