%h2.h グラフ

.search_form
  = form_tag({controller: :data_view, action: :month, format: :json}, method: :get, remote: true) do |f|
    .field
      = label 'q[comment_or_category_name_or_genre_name_or_place_cont]', "検索"
      = text_field_tag 'q[comment_or_category_name_or_genre_name_or_place_cont]'
    .field
      = label :date, "日付"
      = date_select :from_date, :date, include_blank: true
      〜
      = date_select :to_date, :date
    .submit
      = submit_tag "検索"

#chart

%p= link_to 'Back', :back
= javascript_include_tag "flotr2.min.js"
