.search_form
  = search_form_for(@q) do |f|
    .field
      = f.label :comment_or_category_name_or_genre_name_or_place_cont, "検索"
      = f.search_field :comment_or_category_name_or_genre_name_or_place_cont, {size: 60}
    .field
      = f.label :date_gteq, "日付"
      = f.date_field :date_gteq
      〜
      = f.date_field :date_lteq
    .field
      = f.label :amount_gteq, "金額"
      = f.search_field :amount_gt, include_blank: true
      〜
      = f.search_field :amount_lt, include_blank: true
    .submit
      = f.submit "検索"
