%h2.h 履歴一覧

= render 'search_form'

%table
  %thead
    %tr
      %th 日付
      %th カテゴリ名
      %th ジャンル
      %th メモ
      %th 金額
      %th 出金
      %th お店
  %tbody
    - @money.each do |money|
      %tr
        %td= money.date
        %td= money.category.name
        %td= money.genre_name
        %td= money.comment
        %td= number_to_currency(money.amount)
        %td= money.from_account_name
        %td= money.place
    %tr.total
      %td{colspan: 7} 小計: #{number_to_currency(@money.sum(:amount))}
