%p #{@success_files.size}件のファイルのダウンロードに成功しました。
%ul
  - @success_files.each do |filename|
    %li #{filename}
%p #{@failure_files.size}件のファイルのダウンロードに失敗しました。
%ul
  - @failure_files.each do |filename|
    %li #{filename}

%p= link_to 'Back', :back
