%h2.h Zaim連携
.zaim
  %p Zaimからデータダウンロード(Money, Category, Genre, Account) ※ログインが必要
  %p= link_to 'ダウンロード', '/download'
  %p MoneyデータDBインポート
  %p= link_to 'インポート', '/import_money'
  %p CategoryデータDBインポート
  %p= link_to 'インポート', '/import_category'
  %p GenreデータDBインポート
  %p= link_to 'インポート', '/import_genre'
  %p AccountデータDBインポート
  %p= link_to 'インポート', '/import_account'

%h2.h 履歴データ表示
.view
  %p 履歴データ一覧の表示
  %p= link_to '表示', money_index_path
  %p 履歴データのグラフ表示
  %p= link_to 'グラフ', viz_path
