%h1.h
  = link_to "Zaimapp", "/"
%nav.global-nav
  .menu-nav
    %ul
      %li.nav-item
        = link_to "HOME", "/"
      %li.nav-item
        = link_to "履歴一覧", money_index_path
      %li.nav-item
        = link_to "グラフ", viz_path
  .login-nav
    %ul
      %li.nav-item
        - if session[:access_token].nil?
          = link_to "ログイン", "/zaimauth/login"
        - else
          認証済み
      %li.nav-item
        = link_to "ログアウト", "/zaimauth/logout"
